<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') -%>
  <body>
    <header>
      <%- include ('./partials/header-content') -%>
    </header>
    <main>
      <a class="button new-message" href="/new" target="_self"><span class="fas fa-plus"></span> New</a>
      <div class="msg-board">
        <% messages.forEach(message => { %>
          <article class="msg-card">
            <div class="msg-card-header">
              <span class="username"><%= message.user %></span><span class="timestamp"><%= message.timestamp.toLocaleDateString() %></span>
            </div>
            <div class="message"><%= message.message %></div>
          </article>
        <% }); %>
      </div>
    </main>
    <%- include ('./partials/footer') -%>
  </body>
</html>
